doctype html
//Author Irada Shamilova
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Destinations Travel Experts')
    meta(name='keywords', content='travel, adventure, lifestyle, expirience, local, culture')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/modifiedCSS.css')
    title Destinations Travel Experts Registration Page
    style.
      img {
        object-fit: cover;
        margin: auto;
        }

      div {
        margin-top: 5vh;
      }
  body
    // header containing company logo img, company name, nav bar
    header
      nav
        img.logo(src='pictures/teLogo.png', alt='MY logo')
        ul
          li
            a.text-shadow(href='/') Home
          li
            a.text-shadow(href='/packages') Packages
          li
            a.text-shadow(href='/contact') Contact
    section
      h2 Travel Agents:
      br
      #{pugContacts}
      br
      h2 Contact Information
      br
      h3
        | Travel Agent Main office
        br
        |             1301 16 Ave NW
        br
        |             Calgary, Alberta, CANADA
        br
        |             T2M 0L4
      h3
        p
          | Tel: 403.284.7248
          br
          |   Toll-Free: 1.877.284.7248
          br
          |   Fax: 403.284.7112
    br
    br
    aside
      // bonus forms
      form(action='/create_post', method='POST')
        h3 Contact us
        label First Name 
        input(type='text', name='CustFirstName', required='', placeholder='Required')
        br
        br
        label Last Name 
        input(type='text', name='CustLastName', required='', placeholder='Required')
        br
        br
        label Email 
        input(type='email', name='CustEmail', required='', placeholder='Required')
        br
        br
        label Message 
        textarea(name='message')  
        br
        br
        label  Date of Birth 
        input(type='date', name='DateOfBirth')
        br
        br
        div
          input(type='submit', name='submit', value='Submit')
    // Karim: Modified Copyright in footer, changed from "My website" to 2020 Travel Experts All Rights Reserved
    footer#main-footer
      p.ivory Copyright © 2020 Travel Experts All Rights Reserved
