doctype html
//Author Irada Shamilova
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Destinations Travel Experts')
    meta(name='keywords', content='travel, adventure, lifestyle, expirience, local, culture')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/modifiedCSS.css')
    title Destinations Travel Experts Registration Page
    style.
      img {
        object-fit: cover;
        margin: auto;
        }

      div {
        margin-top: 5vh;
      }

      .red {
        color: red;
        font-weight: bolder;
      }

      .inline {
        display: inline;
        margin: auto;
        padding: 5px;
      }

      .flex-col {
        display: flex; 
        flex-direction: column;
      }

      main {
        width: 80vw
      }

      
  body
    // header containing company logo img, company name, nav bar
    header
      nav
        img.logo(src='pictures/teLogo.png', alt='MY logo')
        ul
          li
            a.text-shadow(href='/') Home
          li
            a.text-shadow(href='/packages') Packages
          li
            a.text-shadow(href='/contact') Contact
    // Customer Registration Forms, currently under construction W bckground image, name & email set as required w placeholder as reminder & format example, method=post

    main
      #{pugPackages}

    footer#main-footer
      p.ivory Copyright © 2020. Travel Experts. All Rights Reserved


  