<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Destinations Travel Experts">
    <meta name="keywords" content="travel, adventure, lifestyle, expirience, local, culture">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modifiedCSS.css">
    <title>Destinations Travel Experts Registration Page</title>  
<!--author Anas/Colin-->
</head>

<body>
<!--header containing company logo img, company name, nav bar-->
  <header>
    <div class="logo">
      <img src="pictures/teLogo.png" alt="company logo" height="150px">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/index">Home</a></li>
      </ul>
    </nav>  
  </header>
<!--Customer Registration Forms, currently under construction W bckground image, name & email set as required w placeholder as reminder & format example, method=post-->
  <main>

  </main>
  
  <footer id="main-footer">
    <h3>Copyright &copy; 2020, Travel Experts All Rights Reserved</h3>
  </footer>
</body>
</html>
