<!DOCTYPE html>
<!-- Colin MacDonald/Irada Shamilova -->
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Destinations Travel Experts">
    <meta name="keywords" content="travel, adventure, lifestyle, expirience, local, culture">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modifiedCSS.css">
    <title>Destinations Travel Experts Registration Page</title>  
</head>

<body>
<!--header containing company logo img, company name, nav bar-->
<header>
  <nav>
    <img class="logo" src="pictures/teLogo.png" alt="MY logo" >
    <ul>
      <li><a class = "text-shadow" href="/">Home</a></li>
      <li><a class = "text-shadow" href="/packages">Packages</a></li>
      <li><a class = "text-shadow" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
    <!--Irada's customer order booking form. Completely redesigned the existing form to be more user friendly as per Instructor's feedback-->
    <article>
      <br>
      <h2 class="center">Let's book your dream trip now!</h2>

      <form action="/post_form" target="" method="post">
        <label for="CustFirstName">First Name <span class="red-color">*</span></label>
        <input id="CustFirstName" type="text" name="CustFirstName" placeholder="Enter your first name here" required="">
        
        <label for="CustLastName">Last Name <span class="red-color">*</span></label>
        <input id="CustLastName" type="text" name="CustLastName" placeholder="Enter your last name here" required="">
        
        <label for="CustEmail">Email Address <span class="red-color">*</span></label>
        <input id="CustEmail" type="email" name="CustEmail" required="">
        
        <label for="CustAddress">Address</label>
        <input id="CustAddress" type="text" name="CustAddress">
        
        <label for="CustCity">City</label>
        <input id="CustCity" type="text" name="CustCity">
        
        <label for="CustProv">Province</label>
        <input id="CustProv" type="text" name="CustProv">

        <label for="CustCountry">Country</label>
        <input id="CustCountry" type="text" name="CustCountry">
        
        <!-- Pattern match validation for Postal code -->
        <label for="CustPostal">Postal code <span class="red-color">*</span></label>
        <input type="text" name="CustPostal" id="CustPostal" pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$" title="example T3B5Y3" required>
          
        <input type="checkbox" name="agreed" id="agreed" value="agreed" required>
        <label for="agreed">I agree to the terms and conditions <span class="red-color">*</span></label>
        
    
        <button class="full-width button" type="Submit" name="Submit" value="Submit">Submit</button>

        <p class = "center"><span class="red-color">* indicates required field</span></p>
      </form>
    </article>
<!--footer with copyright-->
<!-- Karim: Modified Copyright in footer, changed from "My website" to 2020 Travel Experts All Rights Reserved -->
    <footer id="main-footer">
      <h3>Copyright &copy; 2020. Travel Experts. All Rights Reserved</h3>
    </footer>
</body>
</html>
