doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Destinations Travel Experts')
    meta(name='keywords', content='travel, adventure, lifestyle, expirience, local, culture')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/modifiedCSS.css')
    title Destinations Travel Experts Registration Page
  body
    // header containing company logo img, company name, nav bar
    header
      nav
        img.logo(src='pictures/teLogo.png', alt='MY logo')
        ul
          li
            a(href='/contact') Contact
          li
            a(href='/packages') Packages
          li
            a(href='/') Home
    // Customer Registration Forms, currently under construction W bckground image, name & email set as required w placeholder as reminder & format example, method=post
    div
      #{packageInfo}
      form(action='/post_form', target='', method='post')
        .addLabel
          label First Name*
          br
          input(type='text', name='CustFirstName', required='', placeholder='Required')
          br
          label Last Name*
          br
          input(type='text', name='CustLastName', required='', placeholder='Required')
          br
          br
          label E-mail*
          br
          input(type='email', name='CustEmail', required='', placeholder='Required')
          br
          br
          label Street Address
          br
          input(type='text', name='CustAddress')
          br
          label City
          br
          input(type='text', name='CustCity')
          br
          label Postal Code
          br
          input(type='text', name='CustPostal', pattern='^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$', placeholder='X1X-1X1')
          br
          label Province
          br
          select(name='CustProv')
            option(value='BC') BC
            option(value='AB') AB
            option(value='SK') SK
            option(value='MN') MN
            option(value='QC') QC
            option(value='NB') NB
            option(value='NS') NS
            option(value='PE') PE
            option(value='NL') NL
            option(value='YT') YT
            option(value='NT') NT
            option(value='NU') NU
          label Country
          br
          select(name='CustCountry')
            option(value='CAN') Canada
            option(value='CAN') United States
          br
          br
          label Home Phone
          br
          input(type='tel', name='CustHomePhone')
          br
          label Business Phone
          br
          input(type='tel', name='CustBusPhone')
          br
          label Agent ID 
          input(type='text', name='AgentId', placeholder='Enter your Agent ID', required='')
          br
          label Package Selection
          br
          select(name='select')
            option(value='trip1') Package One
            option(value='trip2') Package Two
            option(value='trip3') Package Three
            option(value='trip4') Package Four
            option(value='general') General Questions
          br
          br
          label Trip Date
          br
          input(type='date', ,='', name='Trip Date')
          br
          label Message
          br
          textarea(name='message')
          br
          br
          input.order-button(type='Submit', name='Submit', value='Submit')
          br
    // footer with copyright
    // Karim: Modified Copyright in footer, changed from "My website" to 2020 Travel Experts All Rights Reserved
    footer#main-footer
      h3 Copyright © 2020, Travel Experts All Rights Reserved
