<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Destinations Travel Experts">
    <meta name="keywords" content="travel, adventure, lifestyle, expirience, local, culture">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modifiedCSS.css">
    <title>Destinations Travel Experts Registration Page</title>  
</head>

<body>
<!--header containing company logo img, company name, nav bar-->
  <header>
    <div class="logo">
      <img src="pictures/teLogo.png" alt="company logo" height="150px">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/index">Home</a></li>
      </ul>
    </nav>  
  </header>
<!--Customer Registration Forms, currently under construction W bckground image, name & email set as required w placeholder as reminder & format example, method=post-->
    <div>
      <form action="/action_page.php" target="" method="post">
        <div class="addLabel">
          <label>First Name</label><br>
            <input type="text" name="CustFirstName" required placeholder="Required"><br>
          <label>Last Name</label><br>
            <input type="text" name="CustLastName" required placeholder="Required"><br>
          <br>
          <label>email</label><br>
            <input type="email" name="CustEmail" required placeholder="Required"><br>
          <br>
          <label>Street Address</label><br>
            <input type="text" name="CustAddress"><br>
          <label>City</label><br>
            <input type="text" name="CustCity"><br>
          <label>Postal Code</label><br>
            <input type="text" name="CustPostal" pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$" placeholder="X1X-1X1" pattern=""><br>
          <label>Province</label><br>
            <select name="CustProv">
              <option value="BC">BC</option>
              <option value="AB">AB</option>
              <option value="SK">SK</option>
              <option value="MN">MN</option>
              <option value="QC">QC</option>
              <option value="NB">NB</option>
              <option value="NS">NS</option>
              <option value="PE">PE</option>
              <option value="NL">NL</option>
              <option value="YT">YT</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
            </select>
            <label>Country</label><br>
            <select name="CustCountry">
              <option value="CAN">Canada</option>
            </select>
          <br>
          <br>
          <label>Home Phone</label><br>
            <input type="tel" name="CustHomePhone"><br>
          <label>Buisness Phone</label><br>
            <input type="tel" name="CustBusPhone"><br>
          <label>Agent ID </label>
            <input type = "text" name = "AgentId" placeholder="Enter your Agent ID" required>
          <br>
          <label>Package Selection</label><br>
            <select name = "select">
              <option value="trip1">Package One</option>
              <option value="trip2">Package Two</option>
              <option value="trip3">Package Three</option>
              <option value="trip4">Package Four</option>
              <option value="general">General Questions</option>
            </select>
          <br>
          <br>
          <label>Trip Date</label>
          <br>
            <input type="date", name="Trip Date">
          <br>
            <label>Message</label><br>
              <textarea name="message"></textarea>
          <br>
          <br>
            <input type="Submit" name="Submit" value="Submit">
          <br>
        </div>
      </form>
    </div>
<!--footer with copyright-->
<!-- Karim: Modified Copyright in footer, changed from "My website" to 2020 Travel Experts All Rights Reserved -->
    <footer id="main-footer">
      <h3>Copyright &copy; 2020, Travel Experts All Rights Reserved</h3>
    </footer>
</body>
</html>
