<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Destinations Travel Experts">
    <meta name="keywords" content="travel, adventure, lifestyle, expirience, local, culture">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modifiedCSS.css">
    <title>Destinations Travel Experts Registration Page</title>  
</head>

<body id="main">
    <!--header containing company logo img, company name, nav bar-->
    <header>
    <nav>
        <img class="logo" src="pictures/teLogo.png" alt="MY logo" >
        <ul>
            <li><a class = "text-shadow" href="/">Home</a></li>
            <li><a class = "text-shadow" href="/packages">Packages</a></li>
            <li><a class = "text-shadow" href="/contact">Contact</a></li>
        </ul>
    </nav>
    </header>
    
</body>
</html>
<style>
    #main header{
        background-image: url(https://thumbs.dreamstime.com/z/white-stone-words-thank-you-smile-face-color-glitter-boke-background-117350639.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex; 
    }
</style>
