<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>

    <style>
        #main header{
            background-image: url(https://thumbs.dreamstime.com/z/white-stone-words-thank-you-smile-face-color-glitter-boke-background-117350639.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex; 
        }
    </style>
</head>
<body id="main">
    <header>

    </header>
    
</body>
</html>