/**authors Colin **/
/**global fonts, google fonts import**/
   @import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Merriweather|Zhi+Mang+Xing&display=swap");
/* Reset */

body {
  margin: 0;
}

/**General font style sets**/
h1{
  font-family: 'Libre Baskerville', serif;
  /* font-size: 45px; */
  font-weight: bold;
  }
h2{
  font-family: 'Zhi Mang Xing', cursive;
  /* font-size: 20px; */
  font-weight: normal;
  }
h3{
  font-family: 'Libre Baskerville', serif;
  /* font-size: 15px; */
  font-weight: normal;
  }
p{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: normal;
  }
h4{        
  font-family: 'libre Baskerville', serif;
  font-size: 10px;
  font-weight: lighter;
  }
    
/** set the body as vertical flex box to control vertical positioning of header/main content/footer**/
body {
  display: flex;
  flex-direction: column;
  width: 100vp;
  height: 100%;
  margin: 0;
}   

/**header layout, w logo and nav tabs as flexbox elements, positioned with some manual rejig**/
header {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  width: 100vw;
  height: 15%;
  margin: 0;
  background-position: top;
  /* background-color: #acdbdf; */
}

/** foooter, simple, solid bk with copyright**/ 
footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vp;
  height: 10%;
  margin: 0;
  color: ivory;
  background-color: #69779b;

}
/** media query applied to the nav bar text to adjust font with smaller screen**/


  @media only screen and (max-width: 620px) {.nav a {font-size: 20px;}}

/** gallery page with main page styling and bk image, set up as flex box wrap row for the gallery images & css hyper linked to relevant pages**/
.gallBkgrd{
    display: block;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex-container{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
      /**  cant quite get the images to responsivly resize
      .responsive {
          width: auto;
          height: auto;
        } **/
.cell{
  margin: 5px;
  width: 330px;
  padding-bottom: 2em;
  background-color: whitesmoke;
  font-family:  'Zhi Mang Xing', cursive;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}
            /** can get the .cell to respond but associated image still static
            @media only screen and (max-width: 800px) {.cell {width: 200px height: auto;}}**/
/** registration page main styling (under construction), bk image, reg form, trip & date selector w submit button**/
.addLabel{
  display: inline-flex;
  flex-direction: column;
  margin: 2em;
  padding-left: 5em;
  min-width: 30em;
  line-height: 2em;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: normal;
  color: black;
}
